{% extends 'admin-base.html' %}
{% block content %}
<main>
    <div class="container">
         <h2 class="mt-4 mb-3">Orders</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone number</th>
                    <th>Order time</th>
                    <th>Items</th>
                    <th>Total price</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>

            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <input type="hidden" value="{{ order.id }}">
                        <td>{{ order.id }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.phone_number }}</td>
                        <td>{{ order.order_time.strftime('%d-%m-%Y') }}</td>
                        <td>{{ order.products|length }}</td>
                        <td>{{ order.total_price }} UAH</td>
                        <td>
                            <select class="form-control status-select {% if order.status == 'in process' %}bg-primary text-white{% elif order.status == 'delivered' %}bg-success text-white{% elif order.status == 'declined' %}bg-danger text-white{% endif %}" data-order-id="{{ order.id }}">
                                <option value="empty" class="text-dark bg-light"  {% if order.status == "empty" %} selected {% endif %}>Empty</option>
                                <option value="in process" class="text-dark bg-light"  {% if order.status == "in process" %} selected {% endif %}>In process</option>
                                <option value="delivered" class="text-dark bg-light"  {% if order.status == "delivered" %} selected {% endif %}>Delivered</option>
                                <option value="declined" class="text-dark bg-light"  {% if order.status == "declined" %} selected {% endif %}>Declined</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-color-green" data-toggle="collapse"
                                    data-target="#orderDetails{{ order.id }}">
                                See Details
                            </button>
                        </td>
                    </tr>
                    <tr id="orderDetails{{ order.id }}" class="collapse">
                        <td colspan="8">
                            <div class="mb-3">
                                <h6><strong>Delivery Address</strong></h6>
                                <p>{{ order.street }}, {{ order.house_number }}/{{ order.entrance_number }}</p>
                            </div>
                            <div class="px-4">
                                {% for product in order.products %}
                                    <div class="d-flex flex-column">
                                        <h5>{{ product.name }}</h5>
                                        <div class="d-flex justify-content-between pb-3">
                                            <p>Price: {{ product.price }} UAH</p>
                                            <p>Total Price: {{ product.price * order_quantities_dict[order.id][loop.index0] }} UAH</p>
                                            <p>Quantity: {{ order_quantities_dict[order.id][loop.index0] }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if orders|length > 10 %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% for page in range(1, (orders|length // 10) + 1) %}
                <li class="page-item {% if page == 1 %}active{% endif %}">
                    <a class="page-link" href="#">{{ page }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.status-select').change(function () {
            var newStatus = $(this).val();
            var statusCell = $(this).closest('td');
            statusCell.removeClass('bg-primary bg-success bg-danger');

            if (newStatus === 'in_process') {
                $(this).removeClass('bg-primary bg-success bg-danger');
                $(this).addClass('bg-primary text-light');
            } else if (newStatus === 'delivered') {
                $(this).removeClass('bg-primary bg-success bg-danger');
                $(this).addClass('bg-success text-light');
            } else if (newStatus === 'declined') {
                $(this).removeClass('bg-primary bg-success bg-danger');
                $(this).addClass('bg-danger text-light');
            }

            var orderId = $(this).closest('tr').find('input').val();

            var requestData = {
                'order_id': orderId,
                'status': newStatus
            }

            $.ajax({
                type: 'PATCH',
                url: '/admin/orders/update-status',
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function (response) {
                    console.log(response);
                }
            });
        });
    });
</script>
{% endblock %}