{% extends 'admin-base.html' %}
{% block content %}
<div class="container">
    <button type="button" class="btn btn-color-green my-3" data-bs-toggle="modal" data-bs-target="#myModal">Add new admin</button>
    <div class="modal" tabindex="-1" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('admin.add_admin') }}" method="post">
                    {{ form.csrf_token }}
                    <div class="modal-header">
                        <h5 class="modal-title">Add new admin</h5>
                        <button type="button" class="btn-close mr-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        {{ form.name(class="form-control mb-2",placeholder="Write a name") }}
                        {{ form.username(class="form-control mb-2",placeholder="Write a username") }}
                        {{ form.password(class="form-control mb-2",placeholder="Write a password") }}
                        {{ form.role(class="form-select mb-2") }}
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-color-green">Create</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
      {% for admin in admins %}
        <tr>
          <td>{{ admin.name }}</td>
          <td>{{ admin.role }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}