{% extends 'base.html' %}
{% block content %}
<main class="py-5">
    <div class="container">
        <div class="row gap-5">
            <div class="col-3">
                <ul class="nav nav-category">
                    {% for category in g.categories %}
                        <li class="nav-item border-bottom w-100 mb-3">
                            <div class="d-flex justify-content-between align-items-center ">
                                <a href="{{ url_for('product.category', category_id=category.id) }}"
                                   class="category-link mb-2">{{ category.name }}</a>
                                <i class="toggle-icon fas fa-chevron-down" data-bs-toggle="collapse"
                                   data-bs-target="#category-{{ category.id }}" style="cursor: pointer"></i>
                            </div>
                            {% if category.id == category_id %}
                                <ul class="list-group collapse show" id="category-{{ category.id }}">
                            {% else %}
                                <ul class="list-group collapse" id="category-{{ category.id }}">
                            {% endif %}

                            {% for subcategory in category.sub_category %}
                                {% if subcategory.id == subcategory_active.id %}
                                    <div class="list-group-item">
                                        <a href="{{ url_for('product.subcategory', category_id=category.id, subcategory_id=subcategory.id) }}" class="category-link-small color-active">{{ subcategory.name }}</a>
                                    </div>
                                {% else %}
                                    <div class="list-group-item">
                                        <a href="{{ url_for('product.subcategory', category_id=category.id, subcategory_id=subcategory.id) }}" class="category-link-small">{{ subcategory.name }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        <!-- Product Cards -->
            <div class="col-8">
                <div class="row row-cols-xl-4">
                    {% for product in subcategory_active.products %}
                            <div class="col">
                                <div class="card-custom h-100">
                                    <input class="input-product" type="text" value="{{ product.id }}" hidden="hidden">
                                    <div class="">
                                        <a href="{{ url_for('product.show_product', category_id=subcategory_active.categories.id, subcategory_id=subcategory_active.id, product_id=product.id) }}">
                                            <img src="{{ url_for('static', filename=product.img_url) }}" class="card-img" alt="...">
                                        </a>
                                    </div>
                                    <div class="card-name">
                                        <input class="input-name" type="text" value="{{ product.name }}" hidden="hidden">
                                        <p style="text-align: center"><strong>{{ product.name }}</strong></p>
                                    </div>
                                    <div class="class-quantity">
                                        <p>Quantity: {{ product.quantity }}</p>
                                    </div>
                                    <div class="">
                                        <p>{{ product.price }} &#8372</p>
                                    </div>
                                    <div class="card-custom-footer">
                                        <button type="button" class="card-add-btn addBtn" style="border: none">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="50.5" d="M256 112v288m144-144H112"/></svg>
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block scripts %}
<script>
$(document).ready(function (){
    var fields = ['input-product', 'input-name'];

    $('.addBtn').on('click', function (){
        var product_data = {
            product_name: $(this).closest('.card-custom').find('.input-name').val(),
            product_id: $(this).closest('.card-custom').find('.input-product').val(),
        };
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: '/orders/add-to-cart',
            data: JSON.stringify(product_data),
            dataType: 'json',
            success: function(response) {
                $('.icon-cart')
                    .append('<style>.icon-cart::before { opacity: 1; }</style>')
                    .attr('data-cart-content', response.quantity_in_card);
            }
        });
    });
});
</script>
{% endblock %}
