<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<!--  Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark green-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('admin') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('add_admin') }}">Admins</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="modal" tabindex="-1" id="myModal-2">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="{{ url_for('admin_create_category') }}" method="post">
                {{ categories_form.csrf_token }}

                <div class="modal-header">
                    <h5 class="modal-title">Create Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    {{ categories_form.name(class="form-control",placeholder="Enter a title") }}
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-color-green">Create</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <h1>Hi {{ current_user.name }}!</h1>
    <div class="row">
        <div class="col-3">
            <h3 class="">Categories</h3>

        <!-- Nav Bar Left -->
            <ul class="nav nav-category">
                {% for category in categories %}
                    <li class="nav-item border-bottom w-100 mb-1">
                        <div class="d-flex justify-content-between align-items-center ">
                            <a href="{{ url_for('admin_show_subcategories', category_id=category.id) }}" class="category-link">{{ category.name }}</a>
                            <i class="toggle-icon fas fa-chevron-down" data-bs-toggle="collapse" data-bs-target="#category-{{ category.id }}" style="cursor: pointer"></i>
                        </div>

                        <ul class="list-group collapse" id="category-{{ category.id }}">


                        {% for subcategory in category.sub_category %}
                            <div class="list-group-item link-weight border-bottom"><a href="{{ url_for('admin_show_products', category_id=category.id, subcategory_id=subcategory.id) }}" class="category-link-small">{{ subcategory.name }}</a></div>
                        {% endfor %}

                        <button type="button" class="btn btn-color-green mt-3" data-bs-toggle="modal" data-bs-target="#myModal-sub-{{ category.id }}">Add new</button>
                        </ul>
                    </li>

                    <!-- Sub_category Form -->
                    <div class="modal" tabindex="-1" id="myModal-sub-{{ category.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="{{ url_for('admin_create_subcategory') }}" method="post" enctype="multipart/form-data">
                                    {{ sub_categories_form.csrf_token }}
                                    {{ sub_categories_form.hidden_tag_id(value=category.id) }}
                                    <div class="modal-header">
                                        <h5 class="modal-title">Create Subcategory</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        {{ sub_categories_form.name(class="form-control mb-1 input-active", placeholder="Enter a subcategories title") }}
                                        {{ sub_categories_form.img_upload(class="form-control mb-1 input-active") }}

                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-color-green">Create</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>

            <div class="d-grid justify-content-center mt-3">
                <button type="button" class="btn btn-color-green justify-content-center" data-bs-toggle="modal" data-bs-target="#myModal-2">Create Category</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>