<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<body>

<!-- Navigation -->
<div class="border-bottom mb-4">
    <div class="pt-3 pb-3">
        <div class="container">
            <div class="row w-100 align-items-center gx-lg-2 gx-0">

                <!-- LOGO -->
                <div class="col-xxl-2 col-lg-3 col-md-6 col-5">
                    <a href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='icons/freshcart-logo.svg') }}" class="logo-link" alt="">
                    </a>
                </div>

                <!-- Nav SearchBar -->
                <div class="col-xxl-5 col-lg-5 d-none d-lg-block">
                    <form action="#">
                        <div class="">
                            <div class="search-line">
                                <input type="search" class="form-control rounded" placeholder="Search for products">
                                <div class="search-icon">
                                    <i class="fa-solid fa-magnifying-glass highlight-custom"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Nav Icons -->
                <div class="col-lg-2 col-xxl-4 text-end col-md-6 col-7">
                    <div class="d-flex align-items-center justify-content-center gap-3">
                        <div class="nav-icon">
                            <svg class="color-active-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#c1c7c6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4ZM3 6h18"/><path d="M16 10a4 4 0 0 1-8 0"/></g></svg>
                        </div>
                        <div class="nav-icon">
                            <svg class="color-active-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#c1c7c6" stroke-dasharray="28" stroke-dashoffset="28" stroke-linecap="round" stroke-width="2"><path d="M4 21V20C4 16.6863 6.68629 14 10 14H14C17.3137 14 20 16.6863 20 20V21" stroke-dashoffset="0"/><path d="M12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7C16 9.20914 14.2091 11 12 11Z" stroke-dashoffset="0"/></g></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 pb-lg-2">
        <div class="container">
            <ul class="d-flex align-items-center gap-4">
                <li><a href="#" class="menu-btn">
                        <div class="d-flex align-items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="white" d="M13 21v-8h8v8zm0-10V3h8v8zM3 11V3h8v8zm0 10v-8h8v8z"/></svg>
                            <strong>Categories</strong>
                        </div>
                    </a>
                    <ul class="submenu">
                        {% for category in categories %}
                            <li class="px-1 mx-2"><a class="px-4 py-2" href="{{ url_for('category', category_id=category.id) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#" class="nav-item-custom active-color">Contacts</a></li>
                <li><a href="#" class="nav-item-custom active-color">Payment and delivery</a></li>
                <li><a href="#" class="nav-item-custom active-color">About Us</a></li>
                <li><a href="#" class="nav-item-custom active-color">Account</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row gap-5">

        <div class="col-3">
            <ul class="nav nav-category">
                {% for category in categories %}
                    <li class="nav-item border-bottom w-100 mb-3">
                        <div class="d-flex justify-content-between align-items-center ">
                            <a href="{{ url_for('category', category_id=category.id) }}"
                               class="category-link mb-2">{{ category.name }}</a>
                            <i class="toggle-icon fas fa-chevron-down" data-bs-toggle="collapse"
                               data-bs-target="#category-{{ category.id }}" style="cursor: pointer"></i>
                        </div>
                        {% if category.id == category_id %}
                            <ul class="list-group collapse show" id="category-{{ category.id }}">
                        {% else %}
                            <ul class="list-group collapse" id="category-{{ category.id }}">
                        {% endif %}

                        {% for subcategory in category.sub_category %}
                            {% if subcategory.id == subcategory_active.id %}
                                <div class="list-group-item">
                                    <a href="{{ url_for('subcategory', category_id=category.id, subcategory_id=subcategory.id) }}" class="category-link-small color-active">{{ subcategory.name }}</a>
                                </div>
                            {% else %}
                                <div class="list-group-item">
                                    <a href="{{ url_for('subcategory', category_id=category.id, subcategory_id=subcategory.id) }}" class="category-link-small">{{ subcategory.name }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    <!-- Product Cards -->
        <div class="col-8">
            <div class="row row-cols-xl-4">
                {% for product in subcategory_active.products %}
                        <div class="col">
                            <div class="card-custom h-100">
                                <div class="">
                                    <img src="{{ url_for('static', filename=product.img_url) }}" class="card-img" alt="...">
                                </div>
                                <div class="card-custom-name">
                                    <p style="text-align: center"><strong>{{ product.name }}</strong></p>
                                </div>
                                <div class="class-quantity">
                                    <p>Quantity: {{ product.quantity }}</p>
                                </div>
                                <div class="card-custom-footer">
                                    <div class="card-price">
                                        <p>{{ product.price }} &#8372</p>
                                    </div>
                                    <a href="#" class="card-add-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="50.5" d="M256 112v288m144-144H112"/></svg>
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>