{% extends 'base.html' %}

{% block content %}
<main>
<div class="container">
    <h1>Placing an order</h1>
    <div class="row row-cols-2 mt-3">
        <!-- Order Form -->
        <div class="col">
            <h5 class="text-uppercase">personal data</h5>
            <form id="orderForm" class="mt-3">
                <div class="row row-cols-lg-2 g-4">
                    <div class="col-12 alert alert-danger alert-dismissible fade show" id="formError" style="display: none">
                    </div>
                    <div class="col form-control-custom">
                        <input type="text" class="form-control order-form" placeholder="Your name" name="name" id="name" required>
                    </div>
                    <div class="col form-control-custom">
                        <input type="number" class="form-control order-form" placeholder="Phone number" id="phone_number" name="phone_number" required>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error message</small>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control order-form" placeholder="Street" name="street" required>
                    </div>
                    <div class="col form-control-custom">
                        <input type="email" class="form-control order-form" placeholder="Email" id="email" name="email" required>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error message</small>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control order-form" placeholder="House number" name="house_number" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control order-form" placeholder="Entrance number" name="entrance_number" required>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control order-form" placeholder="Order comment" name="comment"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-color-green submit-order" style="width: 100%">Make an order</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Cart -->
        <div class="col">
            <h5 class="text-uppercase">cart</h5>
            <ul class="list-group gap-3 border-bottom pb-4">
                {% if g.cart %}
                {% for product, quantity in g.cart.items() %}
                    <li class="list-group-item d-flex flex-row align-items-center" style="height: 100px" data-product-id="{{ product.id }}">
                        <img src="{{ url_for('static', filename=product.img_url) }}" alt="" class="img-fluid" style="max-height: 100px;">
                        <div class="col-6">
                            <div class="d-flex flex-column flex-nowrap">
                                <h5>{{ product.name }}</h5>
                                <p><strong class="product-price" data-price="{{ product.price }}">{{ product.price * quantity }}</strong> UAH </p>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button  class="btn btn-color-green decrease" type="button">-</button>
                            </div>
                            <input type="number" class="form-control text-center quantity-input" value="{{ quantity }}" data-quantity-max="{{ product.quantity }}" min="1" oninput="this.value = Math.min(Math.max(this.value, 1), {{ product.quantity }});" style="height: 38px">
                            <div class="input-group-append">
                                <button  class="btn btn-color-green increase" type="button">+</button>
                            </div>
                        </div>
                        <div>
                            <button class="border-0 delete-from-cart" data-product-name="{{ product.name }}" style="background-color: white">
                                <svg class="icon-trash d-inline-flex" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" cursor="pointer"><path fill="currentColor" d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z"/></svg>
                            </button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <h5 class="mt-4">Order amount</h5>
            <h4><strong class="total-amount"></strong> UAH</h4>
            {% else %}
                <h2>Oops, there are no products in cart 😭</h2>
            {% endif %}
        </div>
    </div>
</div>
</main>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    updateTotalAmount();

    var incrementButtons = $('.increase');
    var decrementButtons = $('.decrease');

    $('.icon-trash').on('click', function (){
        $(this).closest('li').fadeOut('slow', function (){
            $(this).remove();
            updateTotalAmount();
        });
    });

    incrementButtons.on('click', function() {
        var input = $(this).closest('.input-group').find('.quantity-input');
        var value = parseInt(input.val(), 10);
        if (parseInt(input.data('quantity-max'), 10) - 1 >= value) {
            input.val(value + 1).trigger('change');
        }
        updateTotalAmount();
    });

    decrementButtons.on('click', function() {
        var input = $(this).closest('.input-group').find('.quantity-input')
        var value = parseInt(input.val(), 10);
        if (value > 1) {
            input.val(value - 1).trigger('change');
        }
        updateTotalAmount();
    });

    $('.quantity-input').on('change', function (){
        var price = $(this).closest('.list-group-item').find('.product-price');
        var quantity = parseInt($(this).val());
        var totalPrice = parseFloat(price.attr('data-price')) * quantity;
        price.text(totalPrice.toFixed(2))
        updateTotalAmount();
    });

    function updateTotalAmount() {
         var totalAmount = 0;

         $('.list-group-item').each(function () {
            var price = parseFloat($(this).find('.product-price').attr('data-price'));
            var quantity = parseInt($(this).find('.quantity-input').val());
            totalAmount += price * quantity;
         });
         $('.total-amount').text(totalAmount.toFixed(2));
    }

    $('#email').blur(function() {
        checkFieldValidity($(this), isValidEmail, 'Please enter a valid email address.');
    });

    $('#phone_number').blur(function() {
        checkFieldValidity($(this), isValidPhoneNumber, 'Incorrect phone number, should start with 380.');
    });

    function checkFieldValidity(input, validator, errorMessage) {
        var inputValue = input.val();
        var isValid = validator(inputValue);
        if (!isValid) {
            setErrorFor(input, errorMessage);
        } else {
            setSuccessFor(input);
        }
    }

    function isValidEmail(email) {
        var emailPattern = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return emailPattern.test(email);
    }

    function isValidPhoneNumber(phoneNumber) {
        var cleanedPhoneNumber = phoneNumber.replace(/\D/g, '');
        return cleanedPhoneNumber.length === 12;
    }

    function setErrorFor(input, message) {
        var errorMessageElement = input.siblings('small');
        errorMessageElement.text(message);
        var formControl = input.closest('.form-control-custom');
        formControl.addClass('error').removeClass('success');
    }

    function setSuccessFor(input) {
        var formControl = input.closest('.form-control-custom');
        formControl.removeClass('error').addClass('success');
    }

    function checkInputs() {
        var isValid = true;
        $('#orderForm [required]').each(function() {
            if (!$(this).val()) {
                isValid = false;
                return false;
            }
        });
        return isValid;
    }

    $('.submit-order').click(function(){
        if (!checkInputs()) {
            return;
        }

        var formData = $('#orderForm').serialize();
        var productsData = {};


        $('.list-group-item').each(function() {
            var productId = $(this).data('product-id');
            var productQuantity = $(this).find('.quantity-input').val();
            productsData[productId] = productQuantity;
        });

        var requestData = {
            formData: formData,
            productsData: productsData
        }

        $.ajax({
            type: 'POST',
            url: '/orders/submit-order',
            data: JSON.stringify(requestData),
            contentType: 'application/json',
            success: function() {
                window.location.href = '/orders/success';
            },
            error: function(xhr, status, error) {
                if (xhr.status === 400) {
                    $('#formError')
                        .text('Invalid data. Please try again.')
                        .show()
                } else {
                    console.error('Error:', error);
                }
            }
        });
    });
});
</script>
<script>
$(document).ready(function() {
    setMaxQuantity();

    $('.delete-from-cart').click(function() {
        var productDelete = {
            product_name: $(this).attr('data-product-name'),
        }
        $.ajax({
            type: 'DELETE',
            contentType: 'application/json',
            url: '/orders/delete-from-cart',
            data: JSON.stringify(productDelete),
            dataType: 'json',
            success: function(response) {
                $('.icon-cart')
                    .append('<style>.icon-cart::before { opacity: 1; }</style>')
                    .attr('data-cart-content', response.quantity_in_card);
            }
        });
    });

    function setMaxQuantity() {
        $('.quantity-input').each(function () {
            if(parseInt($(this).val()) > parseInt($(this).attr('data-quantity-max'))) {
               $(this).val($(this).attr('data-quantity-max'));
            }
        });
    }
});
</script>
{% endblock %}
