{% extends 'base.html' %}
{% block content %}
<main>
    <section class="my-lg-14 my-4">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <!-- img -->
                <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                    <img src="{{ url_for('static', filename='icons/signin-g.svg') }}" class="img-fluid" alt="">
                </div>

                <!-- Form -->
                <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                    <div class="mb-lg-9 mb-4">
                        <h1 class="mb-1 h2 fw-bold">Sign in to FreshCart</h1>
                        <p>Welcome back to FreshCart! Enter your data to get started.</p>
                    </div>
                    {% with messeges = get_flashed_messages(with_categories=True) %}
                        {% if messeges %}
                            <ul class="flashes d-flex justify-content-center p-0">
                                {% for category, messege in messeges %}
                                    <li style="list-style: none">
                                        {% if messege == 'Expired token' or messege == 'Invalid token' %}
                                            {% if request.args.get('salt') and request.args.get('salt') == 'reset-password' %}
                                                <div class="alert alert-{{ category }}" role="alert">
                                                    <a href="{{ url_for('user.send_email_reset_password') }}" class="nav-link">{{ messege }}, reset your password again </a>
                                                </div>
                                            {% else %}
                                                <div class="alert alert-{{ category }}" role="alert">
                                                    <a href="{{ url_for('email.resend_confirmation_email', user_email=request.args.get('user_email')) }}" class="nav-link">{{ messege }}, Confirm your email again</a>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="alert alert-{{ category }}" role="alert">
                                                {{ messege }}
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}

                    <form action="{{ url_for('user.user_login') }}" method="POST">
                        {{ form.csrf_token }}
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            {{ form.username(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            {{ form.password(class="form-control") }}
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <div class="form-check d-flex align-items-center gap-2">
                                {{ form.remember(class='form-check-input', id='flexCheckDefault') }}
                                <label for="flexCheckDefault" class="form-check-label">Remember me</label>
                            </div>
                            <div>
                                Forget password?
                                <a href="{{ url_for('user.send_email_reset_password') }}" class="link-color">Reset it</a>
                            </div>
                        </div>
                        <div class="col-12 d-grid mb-3">
                            <button type="submit" class="btn green-color">Login</button>
                        </div>
                        <div>
                            Dont have an account?
                            <a href="{{ url_for('user.user_register') }}" class="link-color">Sign up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}


