<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <!-- NAVIGATION -->
    <div class="border-bottom shadow-sm">
        <nav class="navbar py-2">
            <div class="container justify-content-center justify-content-lg-between">
                <a href="{{ url_for('public.home') }}" class="logo-link">
                    <img src="{{ url_for('static', filename='/icons/freshcart-logo.svg') }}" alt="">
                </a>
                <span class="navbar-text">
                    Already have an account?
                    <a href="{{ url_for('user.user_login') }}" class="link-color">Sign in</a>
                </span>
            </div>
        </nav>
    </div>

    <main>
        <section class="my-lg-14 my-4">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <!-- img -->
                    <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                        <img src="{{ url_for('static', filename='icons/signup-g.svg') }}" class="img-fluid" alt="">
                    </div>


                    <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                        <div class="mb-lg-9 mb-4">
                            <h1 class="mb-1 h2 fw-bold">Sign in to FreshCart</h1>
                            <p>Welcome back to FreshCart! Enter your data to get started.</p>
                        </div>
                        {% with messeges = get_flashed_messages(with_categories=True) %}
                            {% if messeges %}
                                <ul class="flashes d-flex justify-content-center p-0">
                                    {% for category, messege in messeges %}
                                        <li style="list-style: none">
                                            {% if messege == 'Expired token' or messege == 'Invalid token' %}
                                                <div class="alert alert-{{ category }}" role="alert">
                                                    <a href="{{ url_for('resend_confirmation_email', user_email=request.args.get('user_email'), user_id=request.args.get('id_user')) }}">{{ messege }}, Confirm your email again</a>
                                                </div>
                                            {% else %}
                                                <div class="alert alert-{{ category }}" role="alert">
                                                    {{ messege }}
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}

                <!-- Form -->
                <form action="{{ url_for('user.user_register') }}" method="post">
                            {{ form.csrf_token }}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Name</label>
                                {{ form.name(class='form-control') }}
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                {{ form.username(class='form-control') }}
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                {{ form.password(class='form-control') }}
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                {{ form.email(class='form-control') }}
                            </div>
                            <div class="col-12 d-grid mb-3">
                                <button type="submit" class="btn green-color">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>