{% extends 'base.html' %}
{% block content %}
        <main style="height: 200px">
        <div class="container my-5">
            <h2 class="mb-4">Reset your password</h2>
            <input type="text" class="user-email" value="{{ user_email }}" hidden="hidden">
            <div class="col-6 row row-cols-lg-2 g-4">
                <div class="col form-control-custom" style="height: 75px">
                    <label for="newPassword" class="form-label">New password</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="*********">
                </div>
                <div class="col form-control-custom">
                    <label for="repeatPassword" class="form-label">Repeat your password</label>
                    <input type="password" class="form-control" id="repeatPassword" placeholder="*********">
                </div>
                <div class="col form-control-custom d-flex btn-reset gap-3">
                    <button type="button" class="btn btn-color-green btn-reset-pass">Create New Password</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
    $(document).ready(function () {

        var newPasswordInput = $('#newPassword');
        var repeatPasswordInput = $('#repeatPassword');

        repeatPasswordInput.on('keyup', function() {

            var newPasswordValue = newPasswordInput.val();
            var repeatPasswordValue = repeatPasswordInput.val();

            if (newPasswordValue === repeatPasswordValue) {
                repeatPasswordInput.css('border', '2px solid rgb(10, 173, 10)');
            } else {
                repeatPasswordInput.css('border-color', 'red');
            }
        });

        $('.btn-reset-pass').on('click', function () {

           var urlRequest = '/user/reset-password/' + $('.user-email').val();

            if (newPasswordInput.val() === repeatPasswordInput.val()) {

                var requestData = {
                    email: $('.user-email').val(),
                    new_password: newPasswordInput.val()
                }

                $.ajax({
                    type: 'PUT',
                    url: urlRequest,
                    data: JSON.stringify(requestData),
                    contentType: 'application/json',
                    success: function () {
                        window.location.href = '/user/dashboard/settings';
                    }
                });
           }
        });
    });
    </script>
{% endblock %}