{% extends 'base.html' %}
{% block content %}
    <main style="height: 200px">
        <div class="container my-5">
            <h2 class="mb-5">Want to reset your password?</h2>
            <div class="d-flex flex-column gap-3 justify-content-center align-items-center email-block">
                <div class="col-5 d-flex flex-column justify-content-center align-items-center" >
                    <label for="email" class="form-label text-center">Enter your email and we will sand you link to reset your password</label>
                    <input type="email" class="form-control" id="email">
                    <button type="button" class="btn btn-color-green mt-3 btn-reset">Send email</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function () {
        $('.btn-reset').on('click', function () {
           var inputEmail = $('#email').val();
           var requestData = {
                email: inputEmail
           }

           $.ajax({
               type: 'POST',
               url: '/user/reset-password-by-email',
               data: JSON.stringify(requestData),
               contentType: 'application/json',
               success: function () {
                   $('.email-block').append('<div class="alert-custom">' + 'We send email with confirmation link!' + '</div>');
                    setTimeout(function () {
                        $('.alert-custom').fadeOut(500, function () {
                            $(this).remove();
                        });
                    }, 4000);
               },
                error: function(jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status == 404) {
                        var tempDiv = document.createElement('div');
                        tempDiv.innerHTML = jqXHR.responseText;

                        var errorMessage = tempDiv.querySelector('p').textContent;

                        $('.email-block').append('<div class="alert-custom-danger">' + errorMessage + '</div>');

                        setTimeout(function () {
                            $('.alert-custom-danger').fadeOut(500, function () {
                                $(this).remove();
                            });
                        }, 4000);
                    } else {
                        console.log('Error:', textStatus, errorThrown);
                    }
                }
           })
        });
    });
    </script>
{% endblock %}